
	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1>HOME</h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>Summary</h2>
                            <p>I'm an full stack web developer most familiar with the MEAN stack. I use my spare time contributing to open-source projects.</p>
                            <p class="slogan">"The people who are crazy enough to think they can change the world... are the ones who do."</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/me.jpg" alt="A picture of me" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Contact me</h2>
                        <p>Location: Atlanta, GA </p><p><em>Open to relocation</em></p><br />
                        <p>Phone: (347) 306-6020</p>
                        <p>E-mail: <a href="#/contact">jobs@nafeezjs.com</a></p>
                        <br />
                        <p>Twitter: <a href="https://www.twitter.com/nafeezjs" target="_blank">@nafeezjs</a></p>
                        <p>LinkedIn: <a href="https://www.linkedin.com/in/nafeezjs" target="_blank">/in/nafeezjs</a></p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->

      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/portfolio/cabinhub/5.PNG" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Project Spotlight</h2>
                        <p><em>CabinHub</em> is a full-stack web app where users can post cabins, and comments about those cabins.</p>
                        <p><strong>Keywords</strong>: HTML, CSS, JavaScript, ExpressJS, NodeJS, MongoDB, PassportJS, EJS.</p>
                        <h2>Review</h2>
                            <div align="center">
                                <a href="https://github.com/NafeezJS/cabinHub" title="GitHub" target="_blank"><i class="fa fa-github fa-3x"></i></a> 
                                <a href="#portfolio" title="Email" target="_blank"><i class="fa fa-desktop fa-3x"></i></a>
                            </div>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/portfolio/cabinhub/3.PNG" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>

	</section>