
 <!--SECTION EXPERIENCES-->

	<section id="section3" class="cd-section">
		<div class="container">

          <div class="row">
            <div class="col-md-12">
               <div class="box-content">
		            <h1>Resume</h1>
              <div class="col-md-6">
              <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
              <div class="box-text">
                <h2>Skillset</h2>
                <div class="skills-box">
                    <div class="skills-progress">
                      <p>HTML5, CSS3, JavaScript<span>87%</span></p>
                      <div class="meter nostrips develope">
                        <p style="width: 87%"></p>
                      </div>
                      <p>MongoDB<span>73%</span></p>
                      <div class="meter nostrips design">
                        <p style="width: 73%"></p>
                      </div>
                      <p>Express<span>78%</span></p>
                      <div class="meter nostrips branding">
                        <p style="width: 78%"></p>
                      </div>
                      <p>Angular<span>65%</span></p>
                      <div class="meter nostrips web-applications">
                        <p style="width: 65%"></p>
                      </div>                    
                      <p>Node<span>81%</span></p>
                      <div class="meter nostrips web-applications">
                        <p style="width: 81%"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
				    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
            <div class="box-text">
              <h2>Keywords</h2>
					    <div class="skills-box">
							    <div class="skills-progress">
                    <p>MongoDB, Mongoose, Express.js, Passport.js, Node.js, NPM,
                    Angular.js, jQuery, Bootstrap, SemanticUI, SASS, CSS3, HTML5, JavaScript,
                    RESTful Routing, Authentication, Authorization, PostMan, FiddlerCap, Chrome DevTools,
                    SublimeText, WebStorm, Linux, Unix Commands, Git, Heroku, SalesForce, JIRA, VPS</p>
							    </div>
						    </div>
              </div>
				    </div>
			    </div>

		  </div>
          <div class="row">
               <div class="col-md-12">
                <div class="box-content experiences">
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>LivePerson<span class="data">2016 - Present</span></h2>
                        <p>I help implement JavaScript to existing clients pages. Chrome DevTools, and FiddlerCap are used to troubleshoot HTTP traffic issues behind authentication and authorization.</p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Hudson Software<span class="data">2011 - 2016</span></h2>
                        <p>I provided support for our web app. I also migrated custom implementations into Content Management Systems.</p> <p>I deployed an open-source Content Management System by using XAMPP on a Virtual Machine on our network. Then, I created software documentation to train our new hires. I recorded videos to supplement the documentation, then embedded it all into the Content Management System using HTML5 and CSS3.</p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>AT&T<span class="data">2013 - 2014</span></h2>
                        <p>Troubleshooted technical issues for smartphones, tablets, and wearable devices for end users.</p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Georgia Medical Center<span class="data">2009 - 2010</span></h2>
                        <p>I setup workstations, then installed and configured eClinicalWorks. Then, I converted all patient's medical charts into eClinicalWorks to go paperless.</p>
                   </div>
                 </div>
              </div>
         </div>
      </div>
	</section><!-- cd-section -->