<!DOCTYPE html>
<html>
<head>
	<title>Things To Do</title>
	<!-- begin styles and scripts -->
	<link rel="stylesheet" type="text/css" href="assets/css/todos.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
	</head>
<body>

<div id="container">
	<h1>Items: <i class="fa fa-plus"></i></h1>
	<input type="text" placeholder="Add New Item">
	<!-- begin list of items -->
	<ul>
		<li><span><i class="fa fa-trash"></i></span> Pack lunch for the week</li>
		<li><span><i class="fa fa-trash"></i></span> Pay house mortgage</li>
	</ul>
</div>

	<!-- js to toggle the items -->
<script type="text/javascript" src="assets/js/todos.js"></script>
</body>
</html>