<section id="section6" class="cd-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <footer class="box-content">
                    <div class="footer-social">
                        <a href="https://www.linkedin.com/in/nafeezjs" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.github.com/nafeezjs" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://www.twitter.com/nafeezjs" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="mailto:jobs@nafeezjs.com" title="Email" target="_blank"><i class="fa fa-envelope"></i></a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>